@use './index.rn.scss';

.modal-mask {
  position: fixed;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.modal-mask-show {
  opacity: 1;
}

.modal {
  opacity: 0;
  transform: scale(0.92);
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.modal-show {
  opacity: 1;
  transform: scale(1);
}

.modal-body {
  overflow: hidden;
  // width: 100%; // 不能设置为 width: 100%，否则组件宽度可能会溢出屏幕，暂不知原因
}

/* 提升 footer 层级，防止极端情况下 body 溢出内容绘制到 footer 之上 */
.modal-footer {
  position: relative;
  z-index: 1;
}
