@use './index.rn.scss';

.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.password-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.password-list {
  flex: 1;
}
