.fab {
  position: absolute;
  right: 40px;
  bottom: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  box-shadow: 0 4px 12px rgba(35, 113, 102, 0.4);
}

.fab-icon {
  font-size: 48px;
  color: #fff;
}
